<! DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="=ie=edge">
        
        <link rel="stylesheet" type="text/css" href="/content/styles/site.css">
        <link rel="icon" type="image/x-icon" href="/content/images/favicon.ico">
    
        <title>ShopStop</title>
    </head>
    <body>
        <header>
            <nav class="nav">
                <ul>
                    <li><a href="/">Home Page</a>
                    <li><a href="/product/add">Add product</a>
                    <li><a href="/category/add">Add Category</a></li>
                    <li class="delimeter"></li>
                    {{#if user}}
                        <li class="align-right">
                            <form method="POST" id='logout-form' action="/user/logout">
                                <a href="Javascript:document.getElementById('logout-form').submit()">Logout</a>
                            </form>
                        </li>
                        <li class="align-right"><span>{{user.username}}</span></li>
                    {{else}}
                        <li class="align-right"><a href="/user/login">Login</a></li>
                        <li class="align-right"><a href="/user/register">Register</a></li>
                    {{/if}}
                </ul>
            </nav>
        </header>
        {{#if error}}
            <h2 class="error-msg">{{error}}</h2>
        {{/if}}        
        {{#if success}}
            <h2 class="success-msg">{{success}}</h2>
        {{/if}}
        <main>
            {{{body}}}
        </main>
        <footer>
            <p>$copy; ShopStop</p>
        </footer>
    </body>
</html>