<form id="add-category-form" class="center-form" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" class="input-field" />
    </div>
    <div class="form-group">
        <input id="add-category-btn" class="btn form-btn" type="submit" class="btn" value="Add">
    </div>
</form>
    