<form class="form form-centered" method="POST">
    <h2>Register User</h2>

    <div class="form-group">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" class="input-field" value="{{username}}" />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" class="input-field" />
    </div>

    <div class="form-group">
        <label for="confirmedPassword">Confirm Password</label>
        <input id="confirmedPassword" name="confirmedPassword" type="password" class="input-field" />
    </div>

    <div class="form-group">
        <label for="firstName">Fist name</label>
        <input id="firstName" name="firstName" type="text" value="{{firstName}}" class="input-field" />
    </div>
    
    <div class="form-group">
        <label for="lastName">Last name</label>
        <input id="lastName" name="lastName" type="text" value="{{lastName}}" class="input-field" />
    </div>

    <div class="form-group">
        <label for="age">Age</label>
        <input id="age" name="age" type="number" value="{{age}}" class="input-field" />
    </div>

    <div class="form-group">
        <label for="gender">Gender</label>
        <select name="gender" id="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>

    <div class="form-group">
        <input class="form-btn" type="submit" value="Register" />
    </div>
</form>