
<form class="form center-form" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" class="input-field" />
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" type="text" 
        class="input-field"></textarea>
    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <input id="price" name="price" type="number" step="0.01" 
        class="input-field" />
    </div>

    <div class="form-group">
        <label for="image">Image</label>
        <input id="image" name="image" type="file" multiple="multiple" class="input-field" />
    </div>
    
    <div class="form-group">
        <label for="group">Group</label>
        <select name="category">
            <option value=""></option>
            {{#each categories}}
                <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form-group">
        <input class="btn form-btn" type="submit" class="btn" value="Add">
    </div>
</form>
