<form method="POST" class="form centered-form">
    <h2>Buy Product</h2>
    <div class="form-group">
        <label class="product-card">
            <img class="product-img" src="{{product.image}}" />
        </label>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" value="{{product.name}}" class="input-field" disabled />
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" type="text"  class="input-field" disabled>
            {{product.description}}
        </textarea>
    </div>

     <div class="form-group">
        <label for="Price">Price</label>
        <input id="price" name="price" type="number" value="{{product.price}}" class="input-field" disabled />
    </div>

    <div class="form-group">
        <input class="btn form-btn btn-success form-btn" type="submit" value="Buy">
    </div>
</form>