<form method="POST" class="form centered-form">
    <h2>Delete Product</h2>
    <div class="form-group">
        <img class="product-img" src="{{product.image}}" />
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" value="{{product.name}}" class="input-field" disabled />
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" type="text"  class="input-field" disabled>
            {{product.description}}
        </textarea>
    </div>

    <div class="form-group">
        <input class="btn btn-danger form-btn" type="submit" value="Delete">
    </div>
</form>