<form class="form center-form" method="post" enctype="multipart/form-data">
    <h2>Edit Product</h2>
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" value="{{product.name}}" class="input-field" />
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" type="text"  class="input-field">
            {{product.description}}
        </textarea>
    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <input id="price" name="price" type="number" step="0.01" value="{{product.price}}" class="input-field" />
    </div>

    <div class="form-group">
        <label for="image">Image</label>
        <input id="image" class="input-field" name="image" type="file" multiple="multiple" accept=".jpg, .jpeg, .png"  />
    </div>
    
    <div class="form-group">
        <label for="group">Group</label>
        <select name="category">
            <option value=""></option>
            {{#each categories}}
                {{#if this.selected}}
                    <option value="{{this._id}}" selected>{{this.name}}</option>
                {{else}}
                    <option value="{{this._id}}">{{this.name}}</option>
                {{/if}}
            {{/each}}
        </select>
    </div>

    <div class="form-group">
        <input class="btn form-btn" type="submit" value="Edit">
    </div>
</form>
